<!DOCTYPE html>
<html>
<head>
  <title>Add Merchant</title>
</head>
<body>
<form method="post" action="/api/merchants">
  Name : <input type="text" name="name">
  Phone : <input type="text" name="phone">
  <input type="submit" name="submit">
</form>
</body>
</html>